/* base style for all */
*{
    margin: 0;
    padding: 0;
}

/* html for scroll to be smooth */
html{
    scroll-behavior: smooth;
}
/* body */
body{
    /* variables for specific colors */
    --beige:beige;
    --beigeA:rgba(245, 245, 220, 70%);
    --beigeAA:rgba(245, 245, 220, 30%);
    --mediumgray: rgb(100, 100, 100);
    --darkgray: rgb(50,50,50);
    --gray: #424242;
    --grayA:#42424270;
    /* display */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* color and font style */
    background-image: url(images/pattern.jpg);
    font-family:'Courier New', Courier, monospace;
}
/* each div in the body */
body div{
    /* display */
    display: flex;
    flex-direction: column;
    /* gap */
    gap: 2rem;
}
/* navigation class */
.navigation{
    /* display */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    /* width */
    width: 100vw;
    /* padding */
    padding: 1rem;
    /* background */
    background-color: var(--darkgray);
    /* position when scroll */
    position: fixed;
    /* z-index above the rest */
    z-index: 2;
}
/* a tags in navigation class */
.navigation a{
    /* color */
    color: var(--beige);
    /* decoration */
    text-decoration: none;
    /* transition smoothness */
    transition: .2s ease;
}
/* transition when hovering a tags */
.navigation a:hover{
    scale: 1.4;
}
/* The BMW logo */
.logo{
    /* width and height */
    width: 200px;
    height: 200px;
    /* display */
    align-self: center;
}
/* h1 tags */
h1{
    /* color */
    color: var(--darkgray);
    /* font bold */
    font-weight: 700;
    /* border style */
    border: 1px solid var(--darkgray);
    border-radius: 1rem;
    /* display */
    align-self: center;
    /* padding */
    padding: .5rem;
}
h2{
    /* color */
    color: var(--darkgray);
    background-color: var(--beigeAA);
    width: fit-content;
    border-radius: 1rem;
    padding: .5rem;
}
/* mainpage ID */
#mainpage{
    /* width */
    width: 100vw;
}
/* introduction class */
.introduction{
    /* display */
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 4rem;
    /* color */
    background-color: var(--mediumgray);
    /* borders */
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    /* width */
    width: fit-content;
    /* transition smoothness */
    transition: .2s ease;
}
/* transition when hover */
.introduction:hover{
    /* scale */
    scale: 1.05;
}
/* button tags */
button{
    /* color */
    background-color: var(--beige);
    /* width and height */
    width: fit-content;
    height: 2rem;
    /* display */
    align-self: center;
    padding: 3px;
    /* transition smoothness */
    transition: .2s ease;
    /* border */
    border: none;
    border-radius: 5px;
}
/* transition when hover */
button:hover{
    /* scale */
    scale: 1.4;
}
/* input tags of type text */
input[class=text]{
    /* height */
    height: 2rem;
    /* borders */
    border: none;
    border-radius: 1rem;
    /* display */
    text-align: center;
}
/* achievements class */
.achievements{
    background-color: var(--mediumgray);
    /* display */
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 4rem;
    /* color */
    background-color: var(--mediumgray);
    /* borders */
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    /* width */
    width: fit-content;
    /* transition smoothness */
    transition: .2s ease;
}
/* transition when hover */
.achievements:hover{
    /* scale */
    scale: 1.05;
}
/* achievement ID in achievement class */
.achievements #achievements{
    /* color */
    background-color: var(--beigeA);
    /* borders */
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
/* ul tag */
.list ul{
    /* color */
    background-color: var(--beigeA);
    /* borders */
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
/* biography class */
.biography{
    /* width */
    width: fit-content;
    /* display */
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    padding: 4rem;
    /* color */
    background-image: url(images/carbg3.jpg);
    background-size: cover;
    /* borders */
    border-radius: 5rem;
    /* transition smoothness */
    transition: .2s ease;
}
.biography:hover{
    scale: 1.05;
}
/* h2 tag in biography class*/
.biography h2{
    /* color */
    background-color: var(--grayA);
}
/* p tag in biography class */
.biography p{
    /* color */
    background-color: var(--beigeA);
    /* border */
    border-radius: 1rem;
    /* display */
    padding: 1rem;
}
/* label tag in biography class */
.biography label{
    /* color */
    background-color: var(--beigeA);
    /* width */
    width: fit-content;
    /* display */
    padding: .5rem;
    /* borders */
    border-radius: 1rem;
}
/* p tag in biography class */
#parag{
    /* width */
    width: 60vw;
}
/* video class */
.video{
    /* display */
    align-self: flex-start;
}
#cars{
    /* display */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* width */
    width: 100vw;
}
#cars h2{
    align-self: center;
    background-color: var(--grayA);
}
/* cards class */
.cards{
    /* display */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* cards class's divs */
.cards div{
    /* width and height */
    width: 200px;
    height: 200px;
    /* border */
    border: 1px solid var(--darkgray);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}
/* carcard class */
.carcard{
    /* transition smoothness */
    transition: .2s ease;
}
/* transition when hover */
.carcard:hover{
    /* image shows the right */
    background-position: right;
}
/* styling every card div (background image) using their IDs */
#newA{
    background-image: url(images/BMWn1.jpg);  
}
#newB{
    background-image: url(images/BMWn2.jpg);
}
#newC{
    background-image: url(images/BMWn3.jpg);
}
#expA{
    background-image: url(images/BMWe1.jpg);
}
#expB{
    background-image: url(images/BMWe2.jpg);
}
#expC{
    background-image: url(images/BMWe3.jpg);
}
#expD{
    background-image: url(images/BMWe4.jpg);
}
#expE{
    background-image: url(images/BMWe5.jpg);
}
#bestA{
    background-image: url(images/BMWb1.png);
}
#bestB{
    background-image: url(images/BMWb2.jpg);
}
#bestC{
    background-image: url(images/BMWb3.jpg);
}
#bestD{
    background-image: url(images/BMWb4.jpg);
}
/* details class for all card details */
.details{
    /* display */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* detailsT class for every card detail */
.detailsT{
    /* color */
    color: var(--beige);
    background-color: var(--gray);
    /* width and height */
    width: 200px;
    height: 100px;
    /* border */
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    /* display */
    justify-content: center;
    /* text size */
    font-size: small ;
}
/* ol tag */
ol{
    /* display */
    align-self: center;
    text-align: left;
    /* color */
    background-color: var(--beigeA);
    /* width */
    width: 10rem;
    /* borders */
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}
/* list class */
.list{
    /* display */
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 4rem;
    /* color */
    background-color: var(--mediumgray);
    /* borders */
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    /* width */
    width: fit-content;
    /* transition smoothness */
    transition: .2s ease;
}
/* transition when hover */
.list:hover{
    scale: 1.05;
}
/* table class */
.table{
    /* display */
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 4rem;
    /* color */
    background-color: var(--mediumgray);
    /* borders */
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    /* width */
    width: fit-content;
    /* transition smoothness */
    transition: .2s ease;
}
/* table tag*/
table{
    /* color */
    background-color: var(--beigeA);
    /* borders */
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
/* td tag in table tag */
table td{
    /* width and height */
    width: 5rem;
    height: 1.5rem;
    /* border */
    border: 1px solid var(--gray);
    border-radius: 1rem;
    /* transition smoothness */
    transition: .2s ease;
}
/* transition when hover */
.table:hover{
    scale: 1.05;
}
/* transition when hover */
table td:hover{
    /* color */
    color: var(--beige);
    background-color: var(--gray);
}
/* th tags in the table */
table th{
    /* underline */
    text-decoration: underline;
}
/* deal class */
.deal{
    /* display */
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 4rem;
    /* color */
    background-color: var(--mediumgray);
    /* borders */
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    /* width */
    width: 60%;
    /* transition smoothness */
    transition: .2s ease;
}
/* input tags of type text */
.deal input[type=password]{
    /* height */
    height: 2rem;
    /* borders */
    border: none;
    border-radius: 1rem;
    /* display */
    text-align: center;
}
.deal:hover{
    scale: 1.05;
}
/* available class */
.available{
    /* background image */
    background-image: url(images/carbg4.jpg);
    /* dipslay */
    align-self: flex-end;
    /* padding */
    padding: 1rem;
    /* round borders */
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    /* transition smoothness */
    transition: .2s ease;
}
.available:hover{
    scale: 1.05;
}
/* available class's button */
.available button{
    /* color with alpha */
    background-color: var(--beigeA);
}
/* transition on hover */
.available button:hover{
    /* color */
    background-color: var(--beige);
}
/* available class's ul tag */
.available ul{
    /* padding for good display */
    padding-left: 2rem;
    /* color */
    color: var(--beige);
    background-color: var(--beigeAA);
    /* round bourders */
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
/* available class's h2 tag */
.available h2{
    /* color with alpha */
    color: var(--beigeA);
}
/* form class */
.form{
    /* display */
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 2rem;
    padding: 4rem;
    /* color */
    background-color: var(--mediumgray);
    /* borders */
    border-radius: 5rem;
    /* width */
    width: fit-content;
    /* transition smoothness */
    transition: .2s ease;
}
.form:hover{
    scale: 1.05;
}
.form .input{
    gap: 1px;
    color: var(--beige);
}
.form input{
    border: none;
    border-radius: 1rem;
    height: 2rem;
    transition: .2s ease;
}
.form input:hover{
    scale: 1.1;
}
.form .radios{
    /* display */
    justify-content: center;
    background-color: var(--beigeAA);
    border-radius: 1rem;
    align-self: flex-end;
    padding: 1rem;
    color: var(--beige);
}
/* radioB class for radioButtons */
.radioB{
    /* display */
    display: flex;
    flex-direction: row;
    /* text size */
    font-size: large;
    /* transition smoothness */
    transition: .2s ease;
}
/* transition when hover */
.radioB:hover label{
    /* size */
    font-size: 28px;
    /* Weight bold */
    font-weight: 700;
}
.radioB label{
    transition: .2s ease;
}
.radios .title{
    color: var(--gray);
    font-weight: 700;
    font-size: 20px;
}
.radioInput{
    gap: 1px;
}
/* Footer */
footer{
    /*display*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color */
    background-color: var(--darkgray);
    /* width */
    width: 100vw;
    /* padding */
    padding: 1rem;
}
/* link class in footer */
.link{
    /* scale */
    scale: 1.5;
    /* transition smoothness */
    transition: .2s ease;
}
/* transition when hover */
.link:hover{
    scale: 2;
}
/* link ID contains links in footer */
#links{
    /* display */
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
/* copyright ID */
#copyright{
    /* color */
    background-color: var(--beigeAA);
    /* border */
    border-radius: 2rem;
    /* display */
    text-align: center;
    margin-top: 1rem;
}
/* icon images */
.icon{
    /* width */
    width: 1.5rem;
}
/* download ID */
#download{
    /* display */
    align-self: center;
}